/* Search inputs */
.search {
    input[type="search"] {
      background: $white;
      border: 1px solid $green;
      border-radius: 5px;
      height: 35px;
    }
  
    input[type="submit"] {
      background: $green url(../images/icon-search.svg) no-repeat center;
      border: 0;
      border-radius: 5px;
      height: 35px;
      text-indent: -9999px;
      width: 35px;
    }
  }