@import "variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer, header {
  background: aquamarine;
  display: grid;
  font-family: $beleren;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  @include bp(medium) {
    background: yellow;
  }
  
  @include bp(large) {
    background: lightgray;
  }

  .info {
    text-align: right;
  }

  .links {
    display: flex;
    justify-content: space-between;
  }

  .link {
    color: $green;
    font-family: $beleren;
    text-decoration: none;

    &:hover {
      opacity: .5;
    }
  }
}

.search {
  input[type="search"] {
    background: $white;
    border: 1px solid $green;
    border-radius: 5px;
    height: 35px;
  }
  
  input[type="submit"] {
    background: $green url(../images/icon-search.svg) no-repeat center;
    border: 0;
    border-radius: 5px;
    height: 35px;
    text-indent: -9999px;
    width: 35px;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
